.form-convert {
  width: fit-content;
  margin: 7vh auto 0 auto;
}
.form-convert .container {
  /* max-width: 900px; */
  width: 800px;
  background-color: #0091c156;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.274) 2px 5px 10px 5px;
  padding: 40px;
  font-size: 20px;
}
.container .form-wrap .form-title {
  text-align: center;
  color: #ffffff;
}

.form-title h2 {
  margin: 0;
  font-weight: 700;
}
.form-title p {
  color: #40edd0;
  font-weight: 700;
}

/* form content */
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.form-content .input-currency label {
  color: #ffffffbe;
  font-size: 18px;
  display: block;
  font-weight: 500;
}

.form-content .input-currency .inline-input {
  background-color: rgb(238, 254, 255);
  height: 45px;
  width: 550px;
  border-radius: 10px;
  border: #00c9a8 2px solid;
  padding: 5px 0 5px 15px;
}
.inline-input input,
.inline-input #currency-select,
.inline-input span {
  border: none;
  height: 30px;
  color: #707070d8;
  font-size: 18px;
  background-color: rgb(238, 254, 255);
}
.inline-input input {
  border: none;
  outline-color: transparent;
  width: 70%;
  color: rgba(0, 0, 0, 0.541);
  font-weight: 700;
}
.inline-input #currency-select {
  width: 14%;
  outline-color: transparent;
}

.inline-input span {
  width: 12%;
  height: 70%;
}
