/* default screen from 600px and up */
* {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0400ffbe 0%, #5c3995 100%);
  font-family: "Lato", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.546);
  z-index: 0;
}

/*screen up to 600px */
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
}

/*screen up 480px */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
